<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="beranda">
      <ion-icon name="home"></ion-icon>
      <ion-label>Beranda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <ion-icon name="chatboxes"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="maps">
      <ion-icon name="map"></ion-icon>
      <ion-label>Maps</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pesanan">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Pesanan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
